<div class="animated fadeIn" ng-controller="customer_controller" >
        <div class="row" ng-init="initillize_purchase_order_form()">
          <div class="col-sm-12">
            <div class="card">
                <form name="add_new_purchase_order_form" enctype="multipart/form-data">
              <div class="card-header">
                <strong>Add New Purchase Order</strong>
                
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="name">Customer Name</label>
                     <select class="form-control" aria-placeholder="Customer Name" ng-model="po_data.tz_cust_name" name="tz_cust_name" disabled >
                        <option   ng-repeat="customer in customer_list" value="{{customer.id}}">{{customer.name}}</option>
                        </select>
                    </div>
                  </div>
                </div>
                <!--/.row-->
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="tz_po_date">PO Date</label>
                    <input type="date" name="tz_po_date" ng-model="po_data.tz_po_date" id="tz_po_date" class="form-control" placeholder="PO Date" required>
                  </div>
                  <div class="form-group col-sm-4">
                        <label for="tz_po_number">PO Number</label>
                        <input type="text" name="tz_po_number" ng-model="po_data.tz_po_number" id="tz_po_number" class="form-control" placeholder="PO Number" required>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="tz_po_file">Document</label>
                      <input type="file" select-ng-files class="form-control" name="tz_po_file" ng-model="po_data.tz_po_file" id="tz_po_file"  >
                     <!-- <input ng-upload-change="uploadBank($event)" name="tz_po_file" ng-model="po_data.tz_po_file" id="tz_po_file" type="file">
                      <span class="text-danger" ng-show="add_new_purchase_order_form.tz_po_file.$touched && add_new_purchase_order_form.tz_po_file.$invalid">Please upload document.</span> -->
                    </div>
                  </div>
                </div>
                <!--/.row-->
              </div>
              <div class="card-footer text-center">
                    <button  type="button" name="submit"  ng-click="save_purchase_order()" ng-disabled="add_new_purchase_order_form.$invalid"  class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button ui-sref="app.accounting.purchase_orders" class="btn btn-danger"><i class="fa fa-ban"></i> Back</button>
            </div>
        </form>
            </div>
          </div>
          <!--/.col-->
         
        </div>
</div>
